<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.sqlite.JDBC</property>
        <property name="hibernate.connection.url">jdbc:sqlite:library.db</property>

        <property name="hibernate.connection.pool_size">2</property>

        <property name="hibernate.show_sql">true</property>

        <property name="hibernate.dialect">org.sqlite.hibernate.dialect.SQLiteDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.connection.autocommit">true</property>

        <mapping class="com.cocoblue.libraryapp.dto.Book"/>
        <mapping class="com.cocoblue.libraryapp.dto.User"/>
    </session-factory>
</hibernate-configuration>